<h2>Comentarios:</h2><br>

<% if @comments.blank? %>
	<p>Aún no hay comentarios acerca de este reporte.</p>
	<br><br>
<% else %>
	<% @comments.each do |comment| %>
			<p>
				Escrito por <b><%= link_to comment.user.username, "#" %></b>.
				Hace <%= time_ago_in_words(comment.created_at) %>.

				<% if comment.user == current_user %>
					<%= link_to([comment.report, comment], method: :delete, data: {confirm: "¿Estás seguro?"}, :class => "btn btn-default btn-xs") do %>
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					<% end %>
				<% end %>

				<div class="body">
					<%= comment.body %>
				</div>

			</p>
			<hr>
	<% end %>
<% end %>