<div class="panel panel-default">
    <div class="form-wrapper">

        <ul class="list-inline">
            <li><h4>Ordenar por…</h4></li>

            <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Fecha de desaparición <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to "Ascendiente", "http://google.com" %></li>
                            <li><a href="#">Descendiente</a></li>
                        </ul>
                    </div>
            </li>
            <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Lugar de desaparición <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to "Ascendiente", "http://google.com" %></li>
                            <li><a href="#">Descendiente</a></li>
                        </ul>
                    </div>
            </li>
            <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Fecha del reporte <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to "Ascendiente", "http://google.com" %></li>
                            <li><a href="#">Descendiente</a></li>
                        </ul>
                    </div>
            </li>
            <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Nombre <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to "Ascendiente", "http://google.com" %></li>
                            <li><a href="#">Descendiente</a></li>
                        </ul>
                    </div>
            </li>

    </div>
</div>